@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer base {
  :root {
    --background_primary: #FAFAFA;
    --background_secondary: #FFFFFF;
    --background_tertiary: #F0F0F0;
    --background_border: #F0F0F0;
    --background_master_primary: #F2F2F2;
    --background_master_secondary: #EDEDED;
    --background_master_tertiary: #F5F5F5;
    --background_card_primary: #FFFFFF;
    --background_card_secondary: #F9F8F8;
    --background_card_tertiary: #FAFAFA;
    --background_overlay_primary: rgba(0, 0, 0, 0.2);
    --background_overlay_secondary: rgba(242, 242, 242, 0.4);

    --text_icons_primary: #000000;
    --text_icons_secondary: #737373;
    --text_icons_tertiary: #B4B4B4;
    --text_icons_disabled: #C8C8C8;
    --text_icons_inverted_light: #FFFFFF;
    --text_icons_inverted_dark: #000000;
    
    --colors_black_primary: #000000;
    --colors_black_secondary: #262626;
    --colors_black_tertiary: #737373;
    --color_gray_primary: #C1C5CE;
    --colors_gray_tertiary: #FDFDFD;
    --colors_white: #FFFFFF;
    --colors_green_primary: #12B76A;
    --colors_green_tertiary: #D1FADF;
    --colors_red_primary: #FF2E3F;
    --colors_red_secondary: #FF5864;
    --colors_red_tertiary: #FEF2F2;
    --color_yellow_primary: #FEE97E;
    --colors_lime: #DBFF00;
    --colors_blue: #388AEB;
    --colors_pink: #ED7998;

    --x_components_dots: #E9E9E9;
    --x_components_primary_button_hover: #262626;
    --x_components_menu_active_button: #F2F2F2;

    --box_shadow_primary: 0px 0px 40px 0px rgba(26, 26, 26, 0.08);
    --box_shadow_secondary: 0px 0px 40px 0px rgba(26, 26, 26, 0.04);
    --box_shadow_tertiary: 0px 4px 4px 0px rgba(255, 255, 255, 0.12) inset, 0px -3px 3px 0px rgba(0, 0, 0, 0.04) inset, 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

    --blur_primary: 8px;
    --blur_secondary: 16px;

    --dropdown_panel_bg: var(--background_secondary);
    --dropdown_panel_option_active: var(--background_primary);
    --dropdown_filter_border: #F0F0F0;
  }
  :root[class="dark"] {
    --background_primary: #000000;
    --background_secondary: #121416;
    --background_tertiary: #1B2020;
    --background_border: #1B2020;
    --background_master_primary: #272727;
    --background_master_secondary: #303030;
    --background_master_tertiary: #1D1D1D;
    --background_card_primary: #121416;
    --background_card_secondary: #272727;
    --background_card_tertiary: #1B2020;
    --background_overlay_primary: rgba(0, 0, 0, 0.2);
    --background_overlay_secondary: rgba(27, 32, 32, 0.4);

    --text_icons_primary: rgba(255, 255, 255, 0.9);
    --text_icons_secondary: rgba(255, 255, 255, 0.55);
    --text_icons_tertiary_rgba: rgba(255, 255, 255, 0.4);
    --text_icons_disabled: rgba(255, 255, 255, 0.24);
    --text_icons_inverted_light: #121416;
    --text_icons_inverted_dark: #FFFFFF;

    --x_components_dots: #202020;
    --x_components_primary_button_hover: rgba(255, 255, 255, 0.8);;
    --x_components_menu_active_button: #FFFFFF;

    --box_shadow_primary: 0px 0px 40px 0px rgba(27, 27, 27, 0.80);
    --box_shadow_tertiary: 0px 4px 4px 0px rgba(255, 255, 255, 0.04) inset, 0px -3px 3px 0px rgba(0, 0, 0, 0.04) inset, 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

    // Customs
    --dropdown_panel_bg: var(--background_primary);
    --dropdown_panel_option_active: var(--background_secondary);
    --dropdown_filter_border: rgba(255, 255, 255, 0.04);
  }
}
